@use '@styles/variables' as *;

.banner {
  position: fixed;
  bottom: $spacing-14;
  left: 50%;
  z-index: $z-index-banner;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$spacing-13});
  max-width: $spacing-banner-desktop-width;
  padding: $spacing-10 $spacing-17 $spacing-10 $spacing-10;
  color: $color-white;
  background-color: $color-error;
  border-radius: $border-radius-sm;
  transform: translateX(-50%);

  @include desktop {
    position: relative;
    top: $spacing-0;
    left: $spacing-0;
    bottom: auto;
    width: 100%;
    max-width: 100%;
    padding: $spacing-10 $spacing-11 $spacing-banner-bottom;
    border-radius: $border-radius-none;
    box-shadow: $shadow-none;
    transform: none;
  }
}

.banner__title {
  display: none;

  @include desktop {
    display: block;
    margin-bottom: $spacing-12;
    font-size: $font-size-24;
    font-weight: $font-weight-700;
    line-height: $line-height-28;
  }
}

.banner__message {
  margin: $spacing-0;
  text-align: left;
  font-size: $font-size-13;
  font-weight: $font-weight-500;
  line-height: $line-height-16;
}