@use '@common/styles/variables' as *;

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-14 $spacing-10;
  text-align: center;

  &__icon {
    width: $size-icon-lg;
    height: $size-icon-lg;
    margin-bottom: $spacing-4;
  }

  &__title {
    margin-bottom: $spacing-3;
    color: $color-text;
    font-size: $font-size-17;
    font-weight: $font-weight-600;
    line-height: $line-height-22;
  }

  &__subtitle {
    color: $color-text-muted;
    font-size: $font-size-16;
    font-weight: $font-weight-400;
    line-height: $line-height-20;
  }
}